<h1>Southeast Asian Games 2023 final medal table: Complete list</h1>
<img src="https://img.olympicchannel.com/images/image/private/t_s_w1340/t_s_16_9_g_auto/f_auto/primary/nqsiwx99gtlc2h4ui0mah1" alt="">
<p>From 5-17 May 2023, athletes from 11 nations competed for medals across 37 different sports at the 32nd Southeast Asian Games, taking place at first-time hosts Cambodia.

At the last edition at Hanoi 2021, athletes took part in 526 events in 40 different sports. At SEA Games 2023, 581 medals were at stake.

Check out the complete medal table at Games-time end on Tuesday 16 May.</p>